.form-container{
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;

}
.form-container label{
    font-size: 20px;
    font-weight: 500;
}
.form-container input{
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;

}